AI News Summarizer.json
{
  "name": "AI News Summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        0
      ],
      "id": "b91192e9-dd84-45b1-b90e-9ec63cafdbe3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6000/summarize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "={{ $json.topic }}"
            },
            {
              "name": "num_articles",
              "value": "={{ $json.num_articles }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        -96
      ],
      "id": "89b96b46-2f3f-4ce2-b922-23f0f2e0d27b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { topic: \"AI agents\", num_articles: 5 } },\n  { json: { topic: \"LLM development\", num_articles: 5 } },\n  { json: { topic: \"startup funding\", num_articles: 5 } },\n  { json: { topic: \"Python programming\", num_articles: 5 } }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        0
      ],
      "id": "318f2656-0583-4715-b1a2-dc670b7d3977",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        -112
      ],
      "id": "e50be66b-90f8-4f48-9bed-70383d70662e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        80,
        64
      ],
      "id": "60978897-4df7-4868-abb2-4174f1d7b5d4"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet emailBody = `<h2>📰 Your Daily AI Briefing</h2>`;\nemailBody += `<p>Generated: ${new Date().toLocaleString()}</p><hr/>`;\n\nfor (const item of items) {\n  const data = item.json;  // data is directly on item.json, not item.json.body\n  \n  emailBody += `\n    <h3>🔹 ${data.topic}</h3>\n    <p><strong>Articles analyzed:</strong> ${data.article_count}</p>\n    <p><strong>Sources:</strong> ${data.sources.join(', ')}</p>\n    <p>${data.summary.replace(/\\n/g, '<br/>')}</p>\n    <hr/>\n  `;\n}\n\nreturn [{ json: { emailBody } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -64
      ],
      "id": "f09486ff-ea85-45bc-9ee7-1f139c2ac61c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        -96
      ],
      "id": "83e8d0a7-9347-4d24-b4b2-9be14a5fe51c",
      "name": "Merge"
    },
    {
      "parameters": {
        "fromEmail": "YOUR_FROM_EMAIL",
        "toEmail": "YOUR_TO_EMAIL",
        "subject": "Your Daily AI Briefing",
        "html": "={{$json.emailBody  }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        896,
        -64
      ],
      "id": "3d12192e-cfa7-4f99-9535-567a1cc1fb4b",
      "name": "Send an Email",
      "webhookId": "1434a50f-7164-43b2-9b37-1a5f1bbac74d",
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "438bd40b-db1c-4c8d-a10d-a002bab41e4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0695df3d49d1b3eed457a71932be78bede0a8dc66d488e898578624d702356f3"
  },
  "id": "tkPegOQnoOVdSf7Z",
  "tags": []
}